@media screen and (min-width: 767px) and (max-width: 991px) {
  .imgRonde{
    width: 100% !important;
    height: 100% !important;
  } 
  .menuIconesSociaux{
    width: 40px;
    height: 40px;
  }
  .inputFormulaire{
    width: 500px !important;
  }
}